pandas~=1.2.4
SQLAlchemy~=1.4.27
redis~=4.0.1
Scrapy~=2.5.1
Flask~=2.0.2
APScheduler~=3.8.1
rsa~=4.7.2
loguru~=0.5.3
pycookiecheat~=0.4.7
bs4~=0.0.1
beautifulsoup4~=4.10.0
requests~=2.25.1
jieba~=0.42.1
itemadapter~=0.4.0
setuptools~=49.2.1